.container {
  background-color: var(--COR_BLACK);
  width: 100%;
  height: calc(100vh - var(--HEADER_ALTURA));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  max-width: 480px;
  object-fit: contain;
  width: auto;
  height: auto;
}

.title {
  color: #fff;
  text-align: center;
  margin: 28px;
  line-height: 1.5;
}

.infoContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box {
  width: 220px;
  /* background-color: #fafafa; */
  padding: 14px 44px;
  border-radius: 4px;
  transition: all .4s;
  text-align: center;
}

.box:hover {
  transform: scaleX(1.08);
}

.box:nth-child(1){
  background-color: var(--COR_AMARELA);
}

.box:nth-child(2){
  background-color: var(--COR_VERDE);
}

@media screen and (max-width: 580px) {
  .hero {
    max-width: 80%;
  }

  .title {
    font-size: 24px;
  }

  .infoContent {
    flex-direction: column;
  }

  .box {
    width: 80%;
    margin-bottom: 14px;
    text-align: center;
  }
}
