.header {
  width: 100%;
  height: var(--HEADER_ALTURA);
  background-color: var(--COR_BLACK);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 0 18px;
  width: 100%;
  max-width: var(--MAX_WIDTH);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content a {
  text-decoration: none;
}

.logo {
  color: #fff;
  font-size: 32px;
}

.logo span {
  color: #ea3140;
  padding-left: 2px;
}

.loginBtn {
  background: transparent;
  padding: 0 12px;
  min-height: 32px;
  min-width: 120px;
  /* padding: 8px 32px; */
  border-radius: 20px;
  color: #fff;
  border: 1.5px solid #fff;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBtn:hover {
  background-color: #fff;
  color: var(--COR_BLACK);
  font-weight: bold;
}

.image {
  border-radius: 32px;
  margin: 4px 4px 4px 0;
}

.nav {
  display: flex;
  align-items: center;
}

.link {
  background-color: var(--COR_VERDE_ESCURO);
  color: #fff;
  padding: 6px 14px;
  border-radius: 4px;
  margin: 0 14px;
  transition: all .4s;
}

.link:hover {
  filter: brightness(1.05);
  transform: scaleX(1.04);
}
